@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --melgreen: #2ea675;
    --txt: #1d1d1d;
    --head: #c4e8d8;
    --body: #fff;
    --txtft: #6c7882;
    --ftb: #e2e8f0;
    --tbbg: rgba(0,0,0,0.9);
}

[data-theme="dark"] {
    --txt: #fff;
    --head: #1a191e;
    --body: #17161b;
    --txtft: #515760;
    --ftb: #292c36;
    --tbbg: rgba(0,0,0,0.5);
}


html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--txt);
    background-color: var(--body);
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
}
a {
    text-decoration: none;
    color: var(--melgreen);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 56px;
    margin-left: -3px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
    font-weight: 400;
}
h5 {
    font-size: 15px;
    font-weight: 400;
}
h6 {
    font-size: 18px;
    font-weight: 700;
}
header, main, footer {
    overflow-x: hidden;
    width: 100%;
}
section {
    max-width: 1200px;
    margin: auto;
    padding: 60px 10px 0 10px;
}
.green {
    color: var(--melgreen);
}
.linkfill {
    display: block;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.imgfit {
    width: 100%;
    height: auto;
}
.iva {
    vertical-align: -.14em;
}
.fgridpad {    
    padding: 10px;
}.ppp {
    margin-top: 1rem;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
}
.flextitle {
    width: 100%;
}



#topbar {
    display: block;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin-top: 0;
    z-index: 999;
    background-color: var(--tbbg);
    font-size: 15px;
}
#topbar a {
    color: #fff;
}
#topbar a:hover, header a:hover {
    color: #2ea675;
    text-decoration: none;
}
#tbc {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
#topnav {
    margin-left: auto;
    display: flex;
    align-items: center;    
    list-style: none;
}
#topnav li {
    padding: 0 1rem;
}
#dmswitcher {
    width: 30px;
    height: 30px;
    background-color: var(--melgreen);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    margin-left: 1rem;
}
#dmswitcher:hover, #dmswitcher:active {
    background-color: #fff;
    color: #1d1d1d;
    box-shadow: 0 0 0 4px rgba(46,166,118,0.3);
}



footer {
    position: relative;
    bottom: 0;
    left: 0;
    border-top: 1px solid;
    border-color: var(--ftb);
    height: 80px;
    color: var(--txtft);
}
footer a {
    color: var(--txtft);
    font-size: 25px;
    letter-spacing: 0.8rem;
}
footer a:hover {
    color: var(--melgreen);
}
#ifooter {
    max-width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
#footer-links {
    margin-left: auto;
}



#biografia {
    max-width: 800px;
    padding: 120px 10px 60px 10px;
}



.galeria {
    position: relative;
    margin-top: 1vw;
}
.galcont {
    display: flex;
    width: 10000px;
}
.portitem {
    position: relative;
    clip-path: inset(0px round 5px);
    transform: translateZ(0);
    overflow: hidden;
}
.portitem img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: .5s ease;
}
.portbox {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    color: #fff;
    opacity: 0;
    text-shadow: 0px 0px 2px #000;
    background-color: rgba(0,0,0,0.9);
}
.portitem:hover .portbox {
    opacity: 1;
}
.portitem:hover .portitem img {
    opacity: .5;
}
.porttxt {
    padding: 1rem;
    text-align: center;
}
.txthvrln {
    padding-top: .5rem;
}
.plico {
    font-size: 25px;    
    letter-spacing: 10px;
    margin-bottom: 0.5rem;
}
.linkboxfill, #outbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.linkboxfill {
    z-index: 20;
}



@media screen and (min-width: 1024px) {
    .imghvr:hover .txtbox {
        opacity: 1;
    }
    #outbox {
        display: none;
    }
}


@media screen and (max-width: 1023px) {
    [data-menu="closed"]{
        height: 0;
    }
    [data-menu="opened"]{
        height: auto;
    }
    [data-hover=false]{
        opacity: 0;
    }
    [data-hover=true]{
        opacity: 1;
    }
    [data-hidden=true]{
        display: none;
    }
    [data-hidden=false]{
        display: block;
    }
    #tbc {
        justify-content: center;
    }
    #logo {
        margin: auto;
    }
    #mobmenu {
        display: flex;
        width: 30px;
        height: 30px;
        background-color: transparent;
        color: #fff;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: none;
    }
    #topnav {
        flex-direction: column;
        position: absolute;
        top: 60px;
        width: 100%;
        font-size: 22px;
        background-color: #000;
        overflow-y: auto;
        transition: all .35s linear;
        transition-delay: 0s;
    }
    #topnav ul {    
        display: flex;    
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    #topnav li{
        padding: 1.5rem;
    }
    #dmswitcher {
        margin: 0;
    }
    #menuopened {
        position: fixed;
        top: 65px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index:990;
    }
    .galeria article {
        width: 50%;
    }
    #outbox {    
        z-index: 15;
        background-color: transparent;
        position: fixed !important;
    }
}

@media screen and (max-width: 599px) {
    h1 {
        margin-left: -1px;
    }    
    h1, h2 {
        font-size: 32px;
    }    
    h3 {
        font-size: 19px;
    }
    .galeria article {
        width: 100%;
    }
}