#portfolio {
    padding: 120px 10px 60px 10px;
}
.pt30 {
    padding-top: 30px;
}
#contolandia {
    background: url(https://live.staticflickr.com/65535/51366072199_dd6dcfca85_o.png);
    background-size: cover;
    background-position: top center;
}
#blogr {
    background: url(https://live.staticflickr.com/65535/51371784727_7b1f71ed67_o.jpg);
    background-size: cover;
    background-position: top center;
}