#portfolio {
    padding: 120px 10px 60px 10px;
}
.pt30 {
    padding-top: 30px;
}
.imghvr {
    background-size: cover !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
}
#contolandia {
    background: url(https://live.staticflickr.com/65535/51366072199_dd6dcfca85_o.png);
}
#blogr {
    background: url(https://live.staticflickr.com/65535/51371784727_7b1f71ed67_o.jpg);
}
#melunar {
    background: url(https://live.staticflickr.com/65535/51396611247_3b346913da_o.jpg);
}