#sinal {
    display: grid;
    background-color: #263238;
    border: none;
    align-items: center;
    justify-items: center;
    color: #fff;
}

#sinalbase {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    border-radius: 20px;
    width: 240px;
    height: 200px;
    background-color: #1a191e;
}

#scronometro {
    background-color: #111;
    grid-area: 1/1/4/2;
    border-radius: 10px;
    font-size: 100px;
    display: grid;    
    align-items: center;
    justify-items: center;
}

#svermelho {
    background-color: #111;
    border-radius: 50%;
}

#samarelo {
    background-color: #111;
    border-radius: 50%;
}

#sverde {
    background-color: #111;
    border-radius: 50%;
}
